/.vscode
/dataset
/.idea
/out/production/SWERC/.idea/.gitignore
/out/production/SWERC/.gitignore
/out/production/SWERC/Anti11.class
/out/production/SWERC/areal.class
/out/production/SWERC/basicprogramming1.class
/out/production/SWERC/.idea/codeStyles/codeStyleConfig.xml
/out/production/SWERC/engineeringenglish.class
/out/production/SWERC/longestprimesum.class
/out/production/SWERC/.idea/misc.xml
/out/production/SWERC/mixedfractions.class
/out/production/SWERC/.idea/modules.xml
/out/production/SWERC/MoneyMatters$MapRembourse.class
/out/production/SWERC/MoneyMatters.class
/out/production/SWERC/MountainBiking.class
/out/production/SWERC/.idea/codeStyles/Project.xml
/out/production/SWERC/README.md
/out/production/SWERC/sort$Nombre.class
/out/production/SWERC/sort.class
/out/production/SWERC/sorttwonumbers.class
/out/production/SWERC/SWERC.iml
/out/production/SWERC/.idea/uiDesigner.xml
/out/production/SWERC/.idea/vcs.xml
/out/production/SWERC/ZipLine.class
.idea\
.idea\
SWERC.iml
